[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "1.0.1"
aiosqlite = "0.20.0"
telethon = "1.36.0"
telebot = "0.0.5"
aiohttp = "3.9.5"

[dev-packages]

[requires]
python_version = "3.12"
